<!DOCTYPE html>
<html class="light" lang="en" th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- font asome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title th:replace="${title}">Base Page</title>
</head>

<body class="pt-16  dark:bg-gray-900 bg-gray-200 dark:text-white">

    <div th:replace="~{navbar :: navbar}"></div>

    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>


    <!-- <footer class="p-4">
        Footer: Learn Code with Uttam
    </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <script data-th-src="@{/js/script.js}"></script>
    <th:block th:replace="${script}"></th:block>

    

</body>

</html>