<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

</head>

<body>
    <div class="bg-emerald-300 w-1/2 mx-auto p-5 mt-5 flex flex-col items-center-safe space-y-2">
        <h1 class="text-2xl font-bold" data-th-text="${name}">Welcom to HOME Page</h1>
        <p class="text-xl text-stone-900">My Clg name is :<span th:text="${clg}"></span></p>
        <p>My age is :<span th:text="${age}"></span></p>
        <a th:href="${github}" target="_blank">Github</a>
        <p class="text-stone-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, eius? Unde similique
            cum, dolorem aperiam natus deleniti amet et adipisci? Necessitatibus temporibus deserunt incidunt
            consequuntur dignissimos enim saepe! Atque delectus dignissimos, facere libero dolorem eum provident iure
            doloremque, voluptatum aliquam laboriosam voluptatibus numquam assumenda, pariatur sapiente? Expedita ab
            tempora nam.

        </p>
        <div>
            <button class=" bg-blue-700 text-white px-3 py-3 rounded-xl hover:bg-blue-600">Click Here</button>
        </div>
    </div>


     <!-- flowbite content -->


    <!-- <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

</body>

</html> --> 









<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content}, ~{:: title} , ~{:: script})}">
<head>
    <title> Wecome to home page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Home Page</h1>
    </div>
    <script>
        console.log("home page")
    </script>
</body>
</html>























































