<div 
data-th-if="${session.message}"
data-th-object="${session.message}"
data-th-fragment="messagebox"
data-th-classappend="*{'text-'+type+'-900 bg-'+type+'-200 rounded-lg border border-'+type+'-500 dark:bg-'+type+'-900/30 dark:text-'+type+'-300  dark:border-'+type+'-500'}"
class="flex items-start sm:items-center p-4 mb-4 text-sm font-normal"
role="alert">

  <svg class="w-4 h-4 me-2 shrink-0 mt-0.5 sm:mt-0"
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
    d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
  </svg>

  <div>
    <span data-th-text="*{content}"></span>
  </div>

  <th:block data-th-text="${@sessionHelper.removeMessage()}"></th:block>

</div>