<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{:: #content}, ~{:: title} , ~{:: script})}">

<head>
    <title>signup page</title>
</head>

<body>
    <div id="content">
        <div class="grid grid-cols-12 mt-3">

            <div class="col-span-4 md:col-end-2 lg:col-span-3 xl:col-span-4"></div>

            <div class="col-span-12 md:col-span-8  lg:col-span-6 xl:col-span-4">
                <!-- card -->

                <div
                    class="block  p-6 bg-blue-100  border-blue-700 border-t-8 dark:border-blue-700 dark:border-t-8 rounded-xl shadow-sm  dark:bg-gray-800">

                    
                    
                    
                    <!-- message box -->


                    <div data-th-replace="~{message::messagebox}"></div>


                    
                    <h5 class="mb-3 text-xl font-semibold tracking-tight text-gray-900 leading-8 dark:text-white">
                        Signup Here
                    </h5>
                    <!-- <p class="text-gray-600 dark:text-gray-400">
                        Here are the biggest technology acquisitions of 2025 so far, in reverse chronological order.
                    </p> -->

                    <!-- This is form -->

                    <form data-th-action="@{'/do-register'}" 
                        method="post" 
                        data-th-object="${userForm}"
                        class="mt-5"
                        novalidate
                     >

                        <!-- name -->

                        <div class="mb-3">
                            <label for="name"
                                class="block mb-2.5 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="name" data-th-field="*{name}"
                                class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter your name" required />
                        </div>

                        <p 
                        data-th-if="${#fields.hasErrors('name')}"
                        data-th-errors="*{name}"
                        class="text-red-600 px-1 py-2">
                        User is required
                        </p>

                        <!-- email -->

                        <div class="mb-3">
                            <label for="email"
                                class="block mb-2.5 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="email" id="email" data-th-field="*{email}"
                                class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="name@gmail.com" required />
                        </div>

                         <p 
                        data-th-if="${#fields.hasErrors('email')}"
                        data-th-errors="*{email}"
                        class="text-red-600 px-1 py-2">
                        User is required
                        </p>

                        <!-- Pass word -->

                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2.5 text-sm font-medium text-gray-900 dark:text-white">New
                                Password</label>
                            <input type="password" id="password" data-th-field="*{password}"
                                class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="••••••••" required />
                        </div>

                         <p 
                        data-th-if="${#fields.hasErrors('password')}"
                        data-th-errors="*{password}"
                        class="text-red-600 px-1 py-2">
                        User is required
                        </p>

                        <!-- Phone Number-->

                        <div class="mb-3">
                            <label for="phone"
                                class="block mb-2.5 text-sm font-medium text-gray-900 dark:text-white">Contact
                                Number</label>
                            <input type="text" id="phone" data-th-field="*{phoneNumber}"
                                class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder:text-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                        </div>

                         <p 
                        data-th-if="${#fields.hasErrors('phoneNumber')}"
                        data-th-errors="*{phoneNumber}"
                        class="text-red-600 px-1 py-2">
                        User is required
                        </p>

                        <!-- about -->
                        <div class="mb-3">
                            <label for="about"
                                class="block mb-2.5 text-sm font-medium text-gray-900 dark:text-white">Write somthing
                                about Yourself</label>
                            <textarea id="about" rows="4" data-th-field="*{about}"
                                class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3.5 shadow-sm placeholder:text-gray-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write  here..."></textarea>
                        </div>


                         <p 
                        data-th-if="${#fields.hasErrors('about')}"
                        data-th-errors="*{about}"
                        class="text-red-600 px-1 py-2">
                        User is required
                        </p>

                        <!-- Register Button -->
                        <div class="mt-5 flex justify-center space-x-3">
                            <button type="submit"
                                class="text-white bg-gray-800 hover:bg-gray-900 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2">
                                Signup
                            </button>

                            <button type="reset"
                                class="text-white bg-amber-600 hover:bg-amber-700 dark:bg-amber-600 dark:hover:bg-amber-700 focus:ring-4 focus:ring-gray-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2">
                                Reset
                            </button>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        console.log("Signup Page")
    </script>
</body>

</html>