<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This  is Service Page</h1>

    <hr />
    <div th:replace="${isLogin} ? ~{base :: parent(~{::#login})} : ~{base :: test(~{::#notLogin})}">
        <section id="login">
            <h2>It is dynamic content</h2>
            <h3>user is Logged in</h3>
        </section>

        <section id="notLogin">
            <h2>It is dynamic content</h2>
            <h3>user is  Not Logged in</h3>
        </section>
    </div>
</body>
</html> -->







<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{:: #content}, ~{:: title} , ~{})}">
<head>
    <title>services page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Services Page</h1>
    </div>

    <!-- <script>
        console.log("services page")
    </script> -->
</body>
</html>





































